<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- WHITE BIG BOX -->
  <div id="box">

  <!-- UPPER BOX -->
    <div>
      <!-- <div id="">
        Navn:
      </div> -->

      <div>
        <label id = "navn" >Navn:</label>
        <input #navn type="text" id= "input"  placeholder  = "Skriv dit fulde navn her...">
      </div>



      <a routerLink="/home">
        <button id="arrowButton" type="button" class="material-icons">
          <div id="arrow">
            arrow_back
          </div>
        </button>
      </a>
      <a href="https://tilbud.dinetilbudsaviser.dk/LP/superbrugsen-tilbudsavis?msclkid=c71b906cf465140b5965f446563bb8a7&utm_source=bing&utm_medium=cpc&utm_campaign=DK%20Tilbudsavis%20CPA%200.08%2F0.05&utm_term=superbrugsen&utm_content=SuperBrugsen%20DK%20%23pc" target="_blank">
        <button id="avisButton" type="button" class="material-icons">
          <div id="avisTekst">
            Tilbudsavis
          </div>
          <div id="avis">
            menu_book
          </div>
        </button>
      </a>
    </div>
  </div>

 <!-- MIDDLE BOX -->
  <div id="box2">
    <div>
      <h1 id="indkøbsliste">
        Indkøbsliste
      </h1>
    </div>
    <div id="line">
    </div>

      <div>
        <div id="findvarer">
          Find varer:
        <div>
          <app-soegefelt (ordreListe)="fremvisning($event)"></app-soegefelt>
        </div>
      </div>

      <div id="vareVisning">
        <div class="vareliste" *ngFor="let item of ordre">
          <div class="col-navn">{{item.navn}}</div>
            <span class="col-pris" id="varePris">
              <button (click)="fjern(item)"> - </button>
               {{item["antal"]}}
              <button (click)="plus(item)"> + </button>
              {{item["pris"] * item["antal"]}}
            </span>
        </div>
      </div>
    </div>
    <!-- BOTTOM BOX -->
    <div>
      <div>
        <a routerLink="bestilling">
          <button (click)="openDialog(navn.value)" id="button" type="button">
            <div id="Buttontext">Fortsæt til bestilling</div>
            <div id="Buttontext2"> {{totalPris}} kr</div>
            <div id="Buttonpant">Heraf pant 0 kr.</div>
          </button>
        </a>
      </div>
    </div>
</div>

<router-outlet></router-outlet>
