<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<body>

  <!-- WHITE BIG BOX -->
  <div id="box">

  <!-- UPPER BOX -->
    <div>
      <div id="navn">
        Navn
      </div>

      <div>
        <input id="input" type="text" placeholder ="Skriv dit fulde navn her...">
      </div>



      <a routerLink="/home">
        <button id="arrowButton" type="button" class="material-icons">
          <div id="arrow">
            arrow_back
          </div>
        </button>
      </a>
      <a href="https://tilbud.dinetilbudsaviser.dk/LP/superbrugsen-tilbudsavis?msclkid=c71b906cf465140b5965f446563bb8a7&utm_source=bing&utm_medium=cpc&utm_campaign=DK%20Tilbudsavis%20CPA%200.08%2F0.05&utm_term=superbrugsen&utm_content=SuperBrugsen%20DK%20%23pc" target="_blank">
        <button id="avisButton" type="button" class="material-icons">
          <div id="avisTekst">
            Tilbudsavis
          </div>
          <div id="avis">
            menu_book
          </div>
        </button>
      </a>
    </div>
  </div>

 <!-- MIDDLE BOX -->
  <div id="box2">
    <div>
      <div id="indkøbsliste">
        Indkøbsliste
      </div>
    </div>
    <div id="line">
    </div>

      <div>
        <div id="findvarer">
          Find varer
        <div>
          <!-- <input id="varerinput" type="text" placeholder="Søg efter varer her..."> -->
          <app-soegefelt (odreListe)="fremvisning($event)" placeholder="Søg på en vare"></app-soegefelt>
        </div>
      </div>
      <div id="vareliste" *ngFor="let item of odre">
        {{item['vare_navn']}}
      </div>

    </div>
    <!-- BOTTOM BOX -->
    <div>
      <div>
        <a routerLink="bestilling">
          <button id="button" type="button">
            <div id="Buttontext">Fortsæt til bestilling</div>
            <div id="Buttontext2">0 Kr.</div>
            <div id="Buttonpant">Heraf pant 0 kr.</div>
          </button>
        </a>
      </div>
    </div>
</div>
</body>

<router-outlet></router-outlet>
