<body>

  <!-- WHITE BIG BOX -->
  <div id="box">

  <!-- UPPER BOX -->
    <div>
      <div id="navn">
        Navn
      </div>

      <div>
        <input id="input" type="text" placeholder ="Skriv dit fulde navn her...">
      </div>

      <div id="line">
      </div>
    </div>

    <!-- MIDDLE BOX -->
    <div>
      <div id="indkøbsliste">
        Indkøbsliste
      </div>
      <div id="findvarer">
        Find varer
      </div>

      <div>
        <input id="varerinput" type="text" placeholder="Søg efter varer her...">
      </div>
    </div>

    <!-- BOTTOM BOX -->
    <div>
      <div id="line2"></div>

      <div>
        <div id="box2">
          Total DKK: xxx,-
        </div>
      </div>

      <div>
        <button id="button" type="button">
          Fortsæt til bestilling
        </button>
      </div>
    </div>
  </div>
</body>

