
<body>

<!-- WHITE BIG BOX -->
<div id="box">

<!-- UPPER BOX -->
  <div id="upper">
    <div style ="position:relative; left:24px; top:50px;">
      Navn</div>

    <div id="input">
      <input type="text" placeholder ="Skriv dit fulde navn her...">
    </div>

    <div id="line"></div>
  </div>

<!-- MIDDLE BOX -->
<div id="middle">

</div>

<!-- BOTTOM BOX -->
<div id="bottom">
    <div id="line2"></div>

    <div style="position:relative; left:0px; top:500px;" class="justify-content: space-between;" id="box2">
      <div style="position:relative; left:10px; top:17px;">
    Total DKK: xxx,- </div>
    </div>

    <div style="position:relative; left: 75px; top:510px;"> 
      <button id="button" type="button">
      Fortsæt til bestilling
    </button> 
    </div>
</div>

  </div>
</body>

