<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<body id="body">
  <a routerLink="/adminSite">
    <button id="adminbutton" class="material-symbols-outlined">
      <div id="admintext">
        Administratorer
      </div>
      <div id="adminicon">
        patient_list
      </div>
      <div id="adminarrow">
        arrow_circle_right
      </div>
    </button>
  </a>
  <a routerLink="/store">
    <button id="storebutton" class="material-symbols-outlined">
      <div id="bestiltext">
        Bestilling
      </div>
      <div id="shopcart">
        shopping_cart
      </div>
      <div id="shoparrow">
        arrow_circle_right
      </div>
    </button>
  </a>
</body>


<router-outlet></router-outlet>
