body, html {
    height: calc_(100% - 4em);
}
body {
    background: rgb(163, 10, 10);
    color: black;
    font-family: sans-serif;
    text-align: center;
    display : flex;
    flex-direction: column;
}

