<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<a routerLink="/home">
  <button id="adminbutton" class="material-symbols-outlined">
    <div id="adminicon">
      logout
    </div>
  </button>
</a>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="registerForm" [ngSubmit]="onSubmit()">

        <div class="form-group">
          <label for="Navn">Første navn:</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group">
          <button class="btn btn-primary">
            Register
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

 -->



<!--
 <script>
  let row, column, div, br;
  for (row=0; row < 8;row++) //laver 8 rows af divs
  {
    for (column = 0; column < 8; column++)//laver 8 columns
    {
      div = document.createElement('DIV')//'div' element created
      document.body.appendChild(div); //added 'div' element to the parent node which is the "body" element

      if(row % 2 == 1)//odd
      {
        div.style.backgroundColor = "blue";
      }
      if(row % 2 == 0)//even
      {
        div.style.backgroundColor = "red";
      }
    }
    br = document.createElement('BR'); //create 'br' tag
    document.body.appendChild(br); //'br' tag added after every 'div' element
  }
 </script>
-->

 <!--
 <h1 id="shopList">
  Shopping List
 </h1>
 <form action="add" method="get" id="theList">
  <label for="">Add Item</label>
  <input type="text" name="item">
  <input id="addNeed" type="submit" value="need">
  <input id="addHave" type="submit" value="Have">
 </form>
 <h2>Need:</h2>
 <ul class="list">
  <li>
    <input type="checkbox" name="item">
    Appache Helicopter
    <a href="#">&#10006;</a>
  </li>
  <li>
    <input type="checkbox" name="item">
    Mikkel
    <a href="#">&#10006;</a>
  </li>
  <li>
    <input type="checkbox" name="item">
    Egg
    <a href="#">&#10006;</a>
  </li>
 </ul>
 <h2>Have:</h2>
 <ul class="list">
  <li>
    <input type="checkbox" name="item" checked>
    Splyat
    <a href="#">&#10006;</a>
  </li>
  <li>
    <input type="checkbox" name="item" checked>
    Mokkel
    <a href="#">&#10006;</a>
  </li>
  <li>
    <input type="checkbox" name="item" checked>
    N U T T
    <a href="#">&#10006;</a>
  </li>
 </ul>
-->

<router-outlet></router-outlet>
